.root {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    li {
        display: inline-block;
        margin-bottom: 10px;

        a {
            cursor: pointer;
            text-align: center;
            height: 45px;
            width: 45px;
            border: 1px solid #009879;
            border-radius: 40px;
            line-height: 43px;
            margin-right: 10px;
            margin-top: 10px;
            color: #1b7261;
            display: inline-block;

            &:hover {
                background-color: #009879;
                color: #fff;
            }
        }
    }
}

.activePagination {
    a {
        background-color: #009879;
        color: #fff !important;
    }
}

.disabledPagination {
    a {
        visibility: hidden;
    }
}